[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = { version = "<3.0" }       # https://pypi.org/project/discord.py/
pymongo = "*"                           # https://pypi.org/project/pymongo/
"pymongo[srv]" = "*"                    # https://pypi.org/project/pymongo/
python-dateutil = "*"                   # https://pypi.org/project/python-dateutil/
python-decouple = "*"                   # https://pypi.org/project/python-decouple/
pytz = "*"                              # https://pypi.org/project/pytz/

[test-packages]
dpytest = "*"                           # https://pypi.org/project/dpytest/
pytest = "*"                            # https://pypi.org/project/pytest/

[dev-packages]
flake8 = "*"
mypy = "*"
black = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
